.mypurchasepage {
    display: flex;
    font-family: 'Archivo Narrow', sans-serif;

}


.left-box {
    width: 70%;
    height: 900px;
    margin-left: 45px;
    margin-top: 30px;
}



.right-box p {
    font-size: 25px;
    margin-top: 20%;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    padding: 25px 0;
    margin-left: 3%;
}

.right-box>div {
    margin-left: 3%;
    line-height: 40px;

}

span{
    text-decoration: underline;
}

.logout {
    width: 95%;
    height: 45px;
    margin: 220px 0px 0px 3px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}



a:hover {
    text-decoration: underline;
}

a:hover:nth-child(2){
    text-decoration: none;
}

.right-box>svg {
    cursor: pointer;
    vertical-align: baseline;
    text-align: center;
}

.midname {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: -40px;
    text-decoration: none;
}



.save{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    background-color: black;
    margin-top: 165px;
    text-align: center;
    cursor: pointer;
    color: white;
}


.updatepass div {
    width: 150px;
    height: 15px;
    margin-left: 430px;
    margin-top: 10px;
}

.updateemail div {
    width: 200px;
    height: 15px;
    margin-left: 400px;
    margin-top: 10px;
}

img {
    margin-left: 120px;
}

.content-text {
    width: 100%;
    height: 150px;
    text-align: center;

}

.content-text>p {
    font-size: 15px;
    line-height: 20px;
}

.content-text>h3 {
    margin-left: 5px;
}



.text{
    width: 90%;
    height: 100%;
}

.symbol{
    width: 10%;
    height: 100%;
    cursor: pointer;
}

#dashboard{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    display: flex;

}

.hello{
    border: 1px solid pink;
    width: 100%;
    height: 5%;
    font-size: 25px;
    margin-top: 20%;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    padding: 25px 0;
    margin-left: 3%;
}

.right-box {
    width: 24%;
    height: 700px;
    background-color: #f9f9f9;
    margin-left: 75%;
    position: fixed;
}